.vs/TestHttpClient/v15/Server/sqlite3/db.lock
/APIConsumer.Test/bin/Release/netcoreapp2.1/RealState.ReadStack.pdb
/APIConsumer.Test/bin/Release/netcoreapp2.1/RealState.ReadStack.dll
/APIConsumer.Test/bin/Release/netcoreapp2.1/RealState.Models.pdb
/APIConsumer.Test/bin/Release/netcoreapp2.1/RealState.Models.dll
/APIConsumer.Test/bin/Release/netcoreapp2.1/nunit_random_seed.tmp
/APIConsumer.Test/bin/Release/netcoreapp2.1/NUnit3.TestAdapter.pdb
/APIConsumer.Test/bin/Release/netcoreapp2.1/NUnit3.TestAdapter.dll
/APIConsumer.Test/bin/Release/netcoreapp2.1/nunit.engine.netstandard.dll
/APIConsumer.Test/bin/Release/netcoreapp2.1/Mono.Cecil.dll
/APIConsumer.Test/bin/Release/netcoreapp2.1/APIConsumer.Test.runtimeconfig.json
/APIConsumer.Test/bin/Release/netcoreapp2.1/APIConsumer.Test.runtimeconfig.dev.json
/APIConsumer.Test/bin/Release/netcoreapp2.1/APIConsumer.Test.pdb
/APIConsumer.Test/bin/Release/netcoreapp2.1/APIConsumer.Test.dll
/APIConsumer.Test/bin/Release/netcoreapp2.1/APIConsumer.Test.deps.json
/APIConsumer.Test/bin/Release/netcoreapp2.1/APIConsumer.pdb
/APIConsumer.Test/bin/Release/netcoreapp2.1/APIConsumer.dll
/APIConsumer.Test/obj/Release/netcoreapp2.1/APIConsumer.Test.pdb
/APIConsumer.Test/obj/Release/netcoreapp2.1/APIConsumer.Test.dll
/APIConsumer.Test/obj/Release/netcoreapp2.1/APIConsumer.Test.csprojAssemblyReference.cache
/APIConsumer.Test/obj/Release/netcoreapp2.1/APIConsumer.Test.csproj.FileListAbsolute.txt
/APIConsumer.Test/obj/Release/netcoreapp2.1/APIConsumer.Test.csproj.CopyComplete
/APIConsumer.Test/obj/Release/netcoreapp2.1/APIConsumer.Test.assets.cache
/APIConsumer.Test/obj/Release/netcoreapp2.1/APIConsumer.Test.AssemblyInfoInputs.cache
/APIConsumer/obj/release/netstandard2.0/APIConsumer.pdb
/APIConsumer/obj/release/netstandard2.0/APIConsumer.dll
/APIConsumer/obj/release/netstandard2.0/APIConsumer.csprojAssemblyReference.cache
/APIConsumer/obj/release/netstandard2.0/APIConsumer.csproj.FileListAbsolute.txt
/APIConsumer/obj/release/netstandard2.0/APIConsumer.csproj.CopyComplete
/APIConsumer/obj/release/netstandard2.0/APIConsumer.assets.cache
/APIConsumer/obj/release/netstandard2.0/APIConsumer.AssemblyInfoInputs.cache
/APIConsumer/bin/release/netstandard2.0/RealState.Models.pdb
/APIConsumer/bin/release/netstandard2.0/RealState.Models.dll
/APIConsumer/bin/release/netstandard2.0/APIConsumer.pdb
/APIConsumer/bin/release/netstandard2.0/APIConsumer.dll
/.vs/TestHttpClient/v16/Server/sqlite3/storage.ide-wal
/.vs/TestHttpClient/v16/Server/sqlite3/storage.ide-shm
/.vs/TestHttpClient/v16/Server/sqlite3/storage.ide
/.vs/TestHttpClient/v16/Server/sqlite3/db.lock
/.vs/TestHttpClient/v16/TestStore/0/testlog.manifest
/.vs/TestHttpClient/v16/TestStore/0/000-0000.testlog
